<div class="ui doubling three column stackable grid container">
  <ng-template let-context let-modal="modal" #confirmationTemplate>
    <div class="header">{{context.drink.Name}} ({{context.drink.PriceResell}} €) bestellen?</div>
    <div class="content">
      <p>Guthaben nach Kauf: {{-context.drink.PriceResell}} €</p>
    </div>
    <div class="actions">
        <button class="ui negative right labeled icon button" (click)="modal.deny()">
          Abbrechen
          <i class="remove icon"></i>
        </button>
        <button class="ui positive right labeled icon button" (click)="modal.approve()" autofocus>
          OK
          <i class="checkmark icon"></i>
        </button>
    </div>
  </ng-template>
  <div *ngFor="let drink of drinks" (click)="onClick(drink)" class="column">
    <div class="ui drink segment">
      <img class="ui small right floated image" src="http://via.placeholder.com/150x150" />
      <div>
        <h3>{{drink.Name}}</h3>
        <span>{{drink.PriceResell}} €</span>
      </div>
    </div>
  </div>
</div>
