<div *ngIf="errorMessage" class="ui text container">
  <div class="ui red message">
    {{errorMessage}}
  </div>
</div>

<div class="ui doubling four column stackable drink grid container">
  <div *ngIf="loading" class="ui active dimmer">
    <div class="ui text loader">Bitte warten...</div>
  </div>

  <ng-template let-context let-modal="modal" #confirmationTemplate>
    <div class="header">{{context.drink.Name}} ({{context.drink.PriceResell}} €) bestellen?</div>
    <div class="content">
      <p>Guthaben nach Kauf: {{context.activeUser.Credit - context.drink.PriceResell}} €</p>
    </div>
    <div class="actions">
        <button class="ui negative right labeled icon button" (click)="modal.deny()">
          Abbrechen
          <i class="remove icon"></i>
        </button>
        <button class="ui positive right labeled icon button" (click)="modal.approve(context.drink)" autofocus>
          OK
          <i class="checkmark icon"></i>
        </button>
    </div>
  </ng-template>

  <ng-container *ngIf="activeUser">
    <div *ngFor="let drink of drinks" [class.disabled]="loading" (click)="!loading && onClick(drink)" class="column">
      <div class="ui drink segment">
        <img class="ui small right floated product image" src="http://35.156.87.172:80{{drink.ImgUrl}}" />
        <div>
          <h3>{{drink.Name}}</h3>
          <p>{{drink.PriceResell}} €</p>
          <p>Noch {{drink.Amount}} erhältlich</p>
          <button *ngIf="authenticationService.primaryUser?.Permissions === 'admin'" class="ui labeled icon button" (click)="$event.stopPropagation()"><i class="ui edit icon"></i> Bearbeiten</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div *ngIf="authenticationService.primaryUser?.Permissions === 'admin'" class="ui container">
  <div class="ui add segment">
    <button class="ui large fluid green labeled icon button"><i class="ui add icon"></i> Hinzufügen</button>
  </div>
</div>
