<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui green header">DOS Login</h2>
    <div class="ui large form">
      <div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" [(ngModel)]="username" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large orange submit button" [class.disabled]="loginRunning" (click)="login(username, password)">Login</button>
      </div>

      <div *ngIf="errorMessage" class="ui red message">{{errorMessage}}</div>
    </div>
  </div>
</div>
